<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome page</title>
<style>
    h1,p{
        background-color: blue;
        color:white;
        font-weight:bold;
        font-family: 'Times New Roman', Times, serif;
    }
    </style>
</head>
<body>
    <div>
        <h1> this is welcome page</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sunt officiis vero autem quisquam? Maiores debitis delectus, eum enim aliquam hic adipisci odio, dolorum quia natus voluptatem, consequatur eligendi repellendus.</p>
        </div>

        {{res}}

        <a href="{%url 'logout' %}"><button>logout</button></a>
</body>
</html>